<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!-- Ṃain header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-5 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align_item_center">
                        <figure class="errorimg">
                            <img src="images/404.png" class="img-fluid" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{>footer}}
</body>

</html>